*{margin:0;padding:0;list-style-type:none;}

@font-face {
  font-family: 'JTHandwrite'; /*引号中为字体名，将下列所有JTHandwrite用你的文件名代替 */
  src: url('/fonts/JTHandwrite.eot');
  src: url('/fonts/JTHandwrite.eot?#iefix') format('embedded-opentype'),
      url('/fonts/JTHandwrite.svg') format('svg'),
      url('/fonts/JTHandwrite.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  background:url("http://file.panjiangtao.cn/bg4.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}
.nexmoe-bg {
  opacity: 1;
  background-size: cover;
  position: fixed;
  filter: blur(30px);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: .3s;
}
.title {
  font-size: calc(100vw*100/1920);
  letter-spacing: 2px;
  text-align: center;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(102, 96, 96);
  margin: 25px;
  position: relative;
  width: 100%;
}
.gallery {
  display: flex;
  padding-bottom: 40px;
  margin: auto auto;
  width: 90%;
  transition: .3s;
}
.gallery:hover .gallery__image {
  filter: grayscale(1);
}
.gallery__column {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.gallery__link {
  margin: 10px 2px;
  
  border-radius: 10px;
}
.gallery__link:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  transition: .5s;
  z-index: 100;
}
.gallery__link:hover .gallery__image {
  filter: grayscale(0);
  transform: scale(1.2);
}
.gallery__link:active .gallery__image {
  transform: scale(2);
}
.gallery__link:hover .gallery__caption {
  opacity: 1;
}
.gallery__link:active .gallery__caption {
  opacity: 0;
}
.gallery__thumb {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
.gallery__image {
  display: block;
  margin: auto auto;
  border-radius: 10px;
  width: 90%;
  height: 90%;
  position: absolute;
  object-fit: cover;
  transition: .3s;
}
.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 0px;
  width: 100%;
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'JTHandwrite';
  font-size: calc(100vw*50/1920);
  color: white;
  text-shadow: 6px 4px 8px black;
  opacity: 0;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%); */
  transition: .3s;
}
.cphotowall {
  display: none;
  opacity: 0;
  width: 90%;
  height: 90%;
  position:fixed;
  top:5%; 
  left:5%;
  z-index: 101;
  transition: .5s;
}
.cphoto {
  display: block;
  margin: auto auto;
  border-radius: 20px;
  width: auto;
  height: 100%;
  position: relative;
  object-fit: cover;
}
@media screen and (max-width:1200px) {
  .cphoto {
    width: 100%;
    height: auto;
  }
}